.outcomes-col-row{
    padding-top: 15px;
    padding-bottom: 10px;
}

/*************************************** Detailed Syllabus ***************************************/

.units-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.0em;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.units-table td{
    padding: 12px 15px;
}

.units-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.units-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.units-table tbody tr:last-of-type{
    border-bottom: 0px;
}

/*************************************** Books & Resources ***************************************/

.books ul li{
    padding-bottom: 5px;
}
