*{
    margin: 0;
    padding: 0;
}

/********************* Course Table *********************/

.course-table{
    padding: 8px;
    color: black;
}

.syllabus-table{
    border-collapse: collapse;
    margin: 12px 0;
    font-size: 16px;
    min-width: 400px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.syllabus-table:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.syllabus-table thead tr{
    background-color: #0089B5;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.syllabus-table th{
    padding: 12px 6px;
}

.syllabus-table th a{
    text-decoration: none;
    color: #fff;
}

.syllabus-table td{
    padding: 2px 5px;
}

.course-divider{
    border-bottom: 1px solid #dddddd;
}

.sem-divider{
    border-bottom: 3px solid #0089B5;
}

.syllabus-table tbody tr:last-of-type{
    border-bottom: 3px solid #0089B5;
}

.text-align-center{
    text-align: center;
}

/*********************** Course List ***********************/

.course-list{
    padding-top: 10px;
}

.course-list a{
    text-decoration: none;
    color: black;
}

.list-block{
    font-size: 18px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.list-block h2{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.list-block-content{
    display:flex;
}

.course-name{
    padding-bottom: 3px;
}

.course-block:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.left-margin{
    padding-left: 70px;
}

.misc-info{
    font-size: 18px;
    flex: 1;
}

.misc-info-box{
    padding: 10px 10px;
    width: 230px;
}

.depart-ge-block a{
    text-decoration: none;
    color: black;
}

/*********************** Footer ***********************/

.footer-content{
    padding: 50px 0px;
}
.footer-content h3{
    color: #FFBB48;
    padding-bottom: 10px;
}
.footer-content p{
    color: white;
    max-width: 350px;
}

.f-box{
    flex: 1;
}
